version: '2'

services:

### Applications Code Container #############################

    imoov-applications:
        image: tianon/true
        volumes:
            - ../:/var/www
#            - ../sample/:/var/www/sample

### Workspace Utilities Container ###########################

    imoov-workspace:
        build:
            context: ./workspace
            args:
                - INSTALL_XDEBUG=true
                - INSTALL_MONGO=false
                - INSTALL_NODE=true
                - INSTALL_YARN=true
                - COMPOSER_GLOBAL_INSTALL=true
                - INSTALL_WORKSPACE_SSH=true
                - INSTALL_LARAVEL_ENVOY=true
                - INSTALL_DEPLOYER=true
                - INSTALL_LINUXBREW=false
                - PUID=1000
                - PGID=1000
                - NODE_VERSION=stable
                - YARN_VERSION=latest
                - TZ=UTC
        volumes_from:
            - imoov-applications
        extra_hosts:
            # IMPORTANT: Replace with your Docker Host IP (will be appended to /etc/hosts)
            - "dockerhost:172.21.0.2"
        ports:
           - "2222:22"
        tty: true

### PHP-FPM Container #######################################

    imoov-php-fpm:
        build:
            context: ./php-fpm
            args:
                - INSTALL_XDEBUG=false
                - INSTALL_MONGO=false
                - INSTALL_ZIP_ARCHIVE=false
                - INSTALL_BCMATH=false
                - INSTALL_PHPREDIS=false
                - INSTALL_MEMCACHED=false
                - INSTALL_OPCACHE=false
                - INSTALL_EXIF=false
            dockerfile: Dockerfile
        volumes_from:
            - imoov-applications
        expose:
            - "9000"
        links:
            - imoov-workspace
        extra_hosts:
            # IMPORTANT: Replace with your Docker Host IP (will be appended to /etc/hosts)
            - "dockerhost:172.21.0.2"
        environment:
            # IMPORTANT: Set the Remote Interpreter entry matching name to `laravel`
            - PHP_IDE_CONFIG=serverName=laravel

### Nginx Server Container ##################################

    imoov-nginx:
        build:
            context: ./nginx
            args:
                - PHP_UPSTREAM=php-fpm
        volumes_from:
            - imoov-applications
        volumes:
            - ./logs/nginx/:/var/log/nginx
            - ./nginx/sites/:/etc/nginx/sites-available
        ports:
            - "80:80"
            - "443:443"
        links:
            - imoov-php-fpm

### HHVM Container ##########################################

#    imoov-hhvm:
#        build: ./hhvm
#        volumes_from:
#            - imoov-applications
#        expose:
#            - "9000"
#        links:
#            - imoov-workspace

### MySQL Container #########################################

    imoov-mysql:
        build:
            context: ./mysql
            args:
                - MYSQL_DATABASE=zeroc0d3_dbname
                - MYSQL_USER=zeroc0d3_user
                - MYSQL_PASSWORD=zeroc0d3_password
                - MYSQL_ROOT_PASSWORD=zeroc0d3_root
        volumes:
            - mysql:/var/lib/mysql
        ports:
            - "3306:3306"

### MariaDB Container #######################################

#    imoov-mariadb:
#        build: ./mariadb
#        volumes:
#            - mariadb:/var/lib/mysql
#        ports:
#            - "3306:3306"
#        environment:
#            MYSQL_DATABASE: zeroc0d3_dbname
#            MYSQL_USER: zeroc0d3_user
#            MYSQL_PASSWORD: zeroc0d3_password
#            MYSQL_ROOT_PASSWORD: zeroc0d3_root

### PostgreSQL Container ####################################

#    imoov-postgres:
#        build: ./postgres
#        volumes:
#            - postgres:/var/lib/postgresql/data
#        ports:
#            - "5432:5432"
#        environment:
#            POSTGRES_DB: zeroc0d3_dbname
#            POSTGRES_USER: zeroc0d3_user
#            POSTGRES_PASSWORD: zeroc0d3_password

### phpMyAdmin Container ####################################

    imoov-phpmyadmin:
        build: ./phpmyadmin
        environment:
            PMA_ARBITRARY: 1
            MYSQL_USER: zeroc0d3_user
            MYSQL_PASSWORD: zeroc0d3_password
            MYSQL_ROOT_PASSWORD: zeroc0d3_root
        ports:
            - "8080:80"
        links:
            # for mysql container
            - "imoov-mysql:db"
            # for mariadb container
            # - "imoov-mariadb:db"

### pgAdmin Container #######################################

#   imoov-pgadmin:
#       build: ./pgadmin
#       ports:
#          - "5050:5050"
#       links:
#            - imoov-postgres

### MongoDB Container #######################################

#    imoov-mongo:
#        build: ./mongo
#        ports:
#            - "27017:27017"
#        volumes:
#            - mongo:/data/db

### Redis Container #########################################

#    imoov-redis:
#        build: ./redis
#        volumes:
#            - redis:/data
#        ports:
#            - "6379:6379"

### Memcached Container #####################################

#    imoov-memcached:
#        build: ./memcached
#        volumes:
#            - memcached:/var/lib/memcached
#        ports:
#            - "11211:11211"
#        links:
#            - imoov-php-fpm

### Volumes Setup ###########################################

volumes:
    mysql:
        driver: "local"
#    postgres:
#        driver: "local"
#    mariadb:
#        driver: "local"
    phpmyadmin:
        driver: "local"
#    mongo:
#        driver: "local"    
#    redis:
#        driver: "local"    
#    memcached:
#        driver: "local"    
    sessions:    ## nothing is connected to this (- ./data/sessions:/sessions)
        driver: "local"
